@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: "League Spartan", sans-serif;
}

body {
  /* background-color: #013045; */
  background-image: url("—Pngtree—modern\ simple\ elegant\ beautiful\ color_1454955.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.namecont {
  display: flex;
}

.subtext {
  margin-top: 130px;
}

.hello {
  color: white;
  font-weight: bolder;
}

.main {
  color: white;
  font-weight: normal;
}

.mainimg {
  /* margin-left: 200px; */
  margin-top: 30px;
}

.imageclss {
  border-radius: 25%;
  border: 5px solid white;
}

.portfolio_btn {
  padding: 10px;
  border-radius: 25px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 300;
  margin-top: 20px;
}

.portfolio_btn:hover {
  border: 2px solid #ffd700;
}

#first {
  /* background-image: url("section1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; */
  height: auto;
  padding: 80px 0;
}

#second {
  /* background-image: url("section2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; */
  height: auto;
  padding: 80px 0;
}

.aboutcol {
  margin-top: 150px;
  color: white;
  text-align: justify;
}

colour {
  color: #eeb760;
}

.cv_btn {
  padding: 10px;
  border-radius: 25px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 300;
  margin-top: 30px;
}

.cv_btn:hover {
  border: 2px solid #ffd700;
}

#third {
  height: auto;
  padding: 80px 0;
  /* background-color: #1d293e; */
}

.card-body {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-right: 20px;
}

#fourth,#fifth {
  height: auto;
  padding: 80px 0;
  /* background-color: #013045; */
}

.nav-link {
  position: relative;
}

.nav-link::after {
  opacity: 0;
  transition: all 0.2s;
  height: 3px;
  width: 100%;
  background-color: #ffd700;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.btn1 {
  background-color: #f0bb62;
  color: white;
  border-radius: 25px;
}

.nav-link.active::after {
  opacity: 1;
}

/* Back to Top Button Styles */
.back-to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  font-size: 18px;
  border-radius: 50%;
}

.back-to-top-btn:hover {
  background-color: #f0bb62;
  color: white;
}

.navbar {
  padding: 1rem;
}

.navbar-brand h2 {
  margin-bottom: 0;
}

.navbar-brand,
.nav-link {
  padding: 0.5rem 1rem;
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.hovr{
  color: #28c6e6;
}

.hovr:hover{
  color: grey;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #81B0FF;
}

::-webkit-scrollbar-thumb {
  background-color: #8033ff;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
}

.reveal{
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateX(0);
  opacity: 1;
}